<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body spellcheck="false">
  <section class="colorbomb">
    <div class="function">
      <form>
        colorbomb(<span class="fields">"<input type="text" name="colorbomb">"</span>)
      </form>
    </div>
    <div class="swatches">
      <div class="swatch hex">
        <span>hex(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch rgb">
        <span>rgb(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch hsl">
        <span>hsl(a)</span>
        <span class="value"></span>
      </div>
      <div class="error"></div>
    </div>
  </section>

  <section class="colorbomb-rgb">
    <div class="function">
      <form>
        colorbomb.rgb(
          <span class="fields">
            <span class="bracket">[</span>
            "<input type="text" placeholder="red" name="red">",
            "<input type="text" placeholder="green" name="green">",
            "<input type="text" placeholder="blue" name="blue">"
            <span class="bracket">]</span>
          </span>
        )
      </form>
    </div>
    <input type="checkbox"> Use array input
    <div class="swatches">
      <div class="swatch hex">
        <span>hex(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch rgb">
        <span>rgb(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch hsl">
        <span>hsl(a)</span>
        <span class="value"></span>
      </div>
      <div class="error"></div>
    </div>
  </section>
</body>
</html>
