<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="colorbomb">
    <div class="section-contents">
      <form>
        <h2>colorBomb(...)</h2>
        <input type="text">
        <button>Submit</button>
      </form>
      <div class="swatch hex">
        <span>hex(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch rgb">
        <span>rgb(a)</span>
        <span class="value"></span>
      </div>
      <div class="swatch hsl">
        <span>hsl(a)</span>
        <span class="value"></span>
      </div>
    </div>
    <div class="error"></div>
  </section>
</body>
</html>
